.logo__link {
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo__part-one {
  font-family: $secondaryFont;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $decorColor;
}

.logo__part-two--header {
  font-family: $secondaryFont;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: $blackFontColor;
}

.logo__part-two--footer {
  font-family: $secondaryFont;
  font-size: 26px;
  color: $jointColor;
}